 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">CodeCommerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- TODO: move cart and search to the right -->
  <!-- TODO: use icons for cart and search -->
  <!-- TODO: add proper category names -->
  <!-- TODO:  -->
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/cat1">Pantry</a>
      <a class="nav-link" href="/cat2" >Apparel</a>
      <a class="nav-link" href="/cat3" >Nootropics</a>
      <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
      <a class="nav-link" href="/search"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
  </div>
 </nav> 

