{% extends 'ecomm_app/layout.html' %}
{% load static %}
{% block main %}
<h1>main content</h1>
  <img src="{% static '/media/pills.png' %}" />
  <img src="{% static '/media/doritos.png' %}" />
  <img src="{% static '/media/carpal.png' %}" />
  <img src="{% static '/media/coffee.png' %}" />
  <img src="{% static '/media/oil.png' %}" />
  <img src="{% static '/media/duck.jpg' %}" />
  <img src="{% static '/media/hoodie.png' %}" />
  <img src="{% static '/media/dew.png' %}" />
  <img src="{% static '/media/sneakers.png' %}" />
  <img src="{% static '/media/headphones.png' %}" />
  <img src="{% static '/media/soylent.png' %}" />
  <img src="{% static '/media/mug.png' %}" />
{% endblock main %}
